<%= form_for(@garbage) do |f| %>
  <% if @garbage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@garbage.errors.count, "erro") %>:</h2>

      <ul>
      <% @garbage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nome' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image, 'Imagem' %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit "Salvar" %> ou <%= link_to 'Voltar', garbages_path, :class => 'cancel' %>
  </div>
<% end %>
