<h1 id="actionTitle">Lista de classificação</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Imagem</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @garbages.each do |garbage| %>
      <tr>
        <td><%= garbage.name %></td>
        <td><%= garbage.image %></td>
        <td><%= link_to 'Editar', edit_garbage_path(garbage) %></td>
        <td><%= link_to 'Apagar', garbage, method: :delete, data: { confirm: 'Confirma?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="actions">
  <%= link_to 'Nova classificação', new_garbage_path %>
<div>