<%= form_tag session_path do %>
	<div id="loginBox" class="centerBox">
		<div class="field">
			<%= text_field_tag :email, nil, class: 'elInput', placeholder: 'Email' %>
		</div>
		<br />
		<div class="field">
			<%= password_field_tag :password, nil, class: 'elInput', placeholder: 'Senha' %>
		</div>
		<br />
		<div class="alt_actions">
			<%= submit_tag 'Logar' %> ou <%= link_to 'Voltar', :back %>
		</div>
	</div>
<% end %>