<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="passwordBox" class="centerBox">
    <div class="field">
      <%= f.text_field :email, class: 'elInput', placeholder: 'Email' %>
    </div>
    <br />
    <div class="field">
      <%= f.password_field :password, class: 'elInput', placeholder: 'Senha' %>
    </div>
    <br />
    <div class="field">
      <%= f.password_field :password_confirmation, class: 'elInput', placeholder: 'Confirmação de senha' %>
    </div>
    <br />
    <div class="alt_actions">
      <%= f.submit "Salvar"  %> ou <%= link_to 'Voltar', :back %>
    </div>
  </div>
<% end %>