<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br />
  <div class="field_alt">
    <%= f.text_field :name, placeholder: 'Nome' %>
  </div>
  <br />
  <div class="field_alt">
    <%= f.text_field :image, placeholder: 'Imagem' %>
  </div>
  <br />
  <div class="field_alt">
    <%= f.collection_select :garbage_id, Garbage.all, :id, :name %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Salvar" %> ou <%= link_to 'Voltar', products_path, :class => 'cancel' %>
  </div>
<% end %>
