<h1>Lista de lixo</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Imagem</th>
      <th>Classificação do lixo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.image %></td>
        <td><%= product.garbage.name %></td>
        <td><%= link_to 'Editar', edit_product_path(product) %></td>
        <td><%= link_to 'Apagar', product, method: :delete, data: { confirm: 'Confirma?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo lixo', new_product_path %>
